<html>
  <head>
    <title>{{path}} channel - Videoot</title>
    <style>
      .img-div {
	  padding: 10px;
	  border: 1px solid black;
	  border-radius: 10px;
	  width: 100px;
	  height: 100px;

	  float: left;
	  margin-left: 20px;
      }
      .img-div1 {
	  width: 100px;
	  height: 100%;
	  margin-left: 20px;
	  text-align: center;
	  padding: 10px;
	  float: left;
	  cursor: pointer;
      }
      p.name {
	  margin-left: 20px;
	  margin-top: 10px;
	  width: 100px;
	  height: 30px;
	  overflow: hidden;
	  text-overflow: ellipsis; 
      }
      
      h1 {
	  color: blue;
	  font-family: ubuntu;
	  font-size: 50px;
	  margin-left: 20px;
      }
      h1 span {
	  font-weight: 30;
      }
      header {
	  padding: 10px;
	  width: 100%;
	  position: fixed;
	  left: 0;
	  top: 0;
	  border-bottom: 2px solid blue;
	  background: white;
      }
      div.img {
	  margin-top: 188px;
      }
      div h1 {
	  font-family: ubuntu;
	  cursor: pointer;
      }
      a {
	  text-decoration: none;
      }
      .img-open {
	  position: fixed;
	  top: 0%;
	  left: 20%;
	  background: white;
	  padding: 10px;
	  box-shadow: 0 0 10px #ddd;
	  border-radius: 10px;
	  width: 50%;
	  display: none;
      }
      h2, h3 {
	  font-family: ubuntu;
	  font-weight: 3;
      }
      .closed {
	  position: fixed;
	  top: 6%;
	  left: 65%;
	  color: red;
	  cursor: pointer;
      }
      .comment {
	  height: 150px;
	  width: 90%;
	  overflow: auto;
      }
      .comment h3 {
	  width: 50%;
      }
      .album_view a {
	  font-size: 1.2em;
	  font-family: ubuntu, roboto, sans-serif;
	  transition: 100ms;
	  color: black
      }
      .album_view {
	  position: fixed;
	  top: 150px;
	  left: 80%;
	  background: white;
	  padding: 10px;
	  border-radius: 10px;
	  box-shadow: 0 0 10px grey;
	  height: 300px;
	  width: 200px;
	  overflow: auto;
      }
      .album_view a:hover {
	  color: blue;
	  cursor: pointer;
      }
      a {
	  color: blue;
      }
      anchor_link {
	  position: fixed;
	  top: 60px;
	  right: 60px;
      }
    </style>
    <script>
      function XImageopen(id) {
	  document.getElementById('X-ImageOpen-'+id).style.display = "block"
      }
      function XImageclose(id) {
	  document.getElementById('X-ImageOpen-'+id).style.display = "none"
      }
      function add_comment(x) {
	  document.getElementById('add_comment'+x).style.display = "block"
      }
    </script>
    <link rel="icon" href="/static/icon/favicon.png">
  </head>
  <body>
    <header>
      <h1><img src="static/icon/icon.png" alt="Videoot" width="200" height="50"><album_name style="margin-left: 5%; font-size: 0.5em;"> {{path}} channel<anchor_link> <a href="/delet/album?path={{path}}"><a href="/">Videoot</a></anchor_link></album_name></h1>
    </header>
   
    <div class="img">
      {% for x in img_list %}
      
      <div class="img-div1">
	<div class="img-div" onClick="XImageopen('{{x}}')">
	  <video src='/static/img/{{x}}' width="100"></video><br>
	</div>
	<p class="name">{{info[x][0]['comment'][0]}}</p>
	<div class="img-open" id="X-ImageOpen-{{x}}">

	  <h3>{{info[x][0]['comment'][0]}}</h3>
	  <video controls src='/static/img/{{x}}' width="500"></video>
	  
	    <div class="comment">
	    <h2>Comments: </h2>
	    {% for i in info[x][0]['comment'] %}
	    <h3>{{i}}</h3>
	    {% endfor %}
	  
	    <h2 class="closed" onClick="XImageclose('{{x}}')">x</h2>
	    <form method="POST" action="/add_comment?id={{x}}&path={{path}}">
	      <input type="text" name="comment" placeholder="Comment... "><p style="color: red;font-family: ubuntu">You cannot delete a comment.</p>
	    </form>
	</div>
      </div>
    </div>
    

    {% endfor %}
    <div class="img-div1"><a title="Ajouter une image" href="/upload"><h1 style="color: black">+</h1></A></div>
    <br>
    <div class="album_view" id="album_view" style="display: block;">
      <h2 style="text-align:center;">Channels</h2>
      {% for x in album_list %}
      {% if x == path %}
      <p><a style="color: red" href="/?path={{x}}"> > {{x}}</p></p>
      {% else %}
      <p><a href="/?path={{x}}">{{x}}</a></p>
      {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
